/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

/* HEADER SECTION */

.navcontainer {
  position: relative;
  width: 1250px;
  margin: 0 auto;
}

.main-nav-red {
  background-color: #f72210;
  padding: 20px;
  align-content: center;
}

.middlenav {
  padding: 20px;
}

.search {
  border: 0 none;
}

.search-icon {
  background: url(../images/icon-search-glass.svg) center/contain no-repeat
    white;
  width: 20px;
  height: 26px;
  clip: auto;
  font-size: 0;
  position: absolute;
  top: 131px;
  right: 133px;
}

.middlenav::before {
  position: absolute;
  top: 109px;
  right: 0px;
  content: "";
  display: block;
  width: 87px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.nav-red-right img {
  width: 27px;
  height: 16px;
}

.nav-red-right span {
  color: #fff;
}

date {
  color: #fff;
}

.nav-red-mid svg {
  width: 410px;
  height: 70px;
  fill: #fff;
}

.btn-1 {
  text-transform: uppercase;
  border-radius: 24px;
  color: #fff;
  background-color: #f72310;
  font-size: 18px;
  line-height: 30px;
  padding-left: 15px;
  border: 0 none;
  padding-right: 15px;
  font-weight: 600;
}

.btn-sub {
      color: #000;
      width: 131px;
      height: 35px;
      margin-top: 5px;
      padding: 3px;
      border-radius: 24px;
      font: bold 13px/24px "Roboto Condensed",
    sans-serif;
    text-transform: uppercase;
}

/* Main Section */

.main{
  margin-bottom: 50px;
}

.decor {
  position: relative;
}

.decor::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 2px);
}

.decor::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.c-vs {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 6px auto;
}

/* FEATURED STORIES SECTION */
.flexcontainer {
  width: 1250px;
  margin: 0 auto;
  gap: 15px;
}
.featured-header {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  padding-bottom: 10px;
  padding-top: 15px;
}

.bottom-text{
  position: absolute;
  font-size: 17px;
  bottom: 100px;
  left: 0;
  color: red;
  padding: 8px 15px 9px;
}

.bottom-text-1{
  position: absolute;
  font-size: 17px;
  bottom: -8px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}

.bottom-text-2{
  position: absolute;
  font-size: 17px;
  bottom: 154px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}
.bottom-text-3{
  position: absolute;
  font-size: 17px;
  bottom: 154px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}
.bottom-text-4{
  position: absolute;
  font-size: 17px;
  bottom: 94px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}

.bottom-text-5{
  position: absolute;
  font-size: 17px;
  bottom: 94px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}
.bottom-text-6{
  position: absolute;
  font-size: 17px;
  bottom: 70px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}
.bottom-text-7{
  position: absolute;
  font-size: 17px;
  bottom: 91px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}
.bottom-text-8{
  position: absolute;
  font-size: 17px;
  bottom: 124px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}
.bottom-text-9{
  position: absolute;
  font-size: 17px;
  bottom: 100px;
  left: 0;
  color: blue;
  padding: 8px 15px 9px;
}

.featured-img {
  width: 358px;
  height: 242px;
}
.description {
  font-size: 20px;
  font-weight: bolder;
}

.top-story{
  width: 130%;
}

.top-story-header{
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed",
  sans-serif;
  padding-bottom: 10px;
  padding-top: 15px;
}

.biden-img-1{
  width: 512px;
  height: 325px;
}

.top-story-para{
  font-size: 20px;
  font-weight: 700;
}

.main-grid {
  margin: 0 auto;
}

.main-grid img{
  width: 155px;
  height: 155px;
}

.culture{
  z-index: 1000;
}

.debate p{
  font-size: 13px;
  font-weight: 600;
  color: #888;
}

.debate img{
  width: 65px;
  height: 65px;
}

.top-story-para-1{
  font-size: 15px;
  font-weight: 500;
}

.newsletter-signup{
  width: 277px;
  height: 147px;
  border: 1px solid #e2e0e0;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e2e0e0;
}
.n-icon{
  background-color:  #f72310;
  color: white;
  width: 29px;
  height: 28px;
  border: 1px solid #f72310;
}
.title p{
      font: bold 16px/16px "Roboto Condensed",
      sans-serif;
      margin-bottom: 15px;
      text-transform: uppercase;
      color: #000;
}
.btn{
  background-color: #f72310;
  color: white;
  width: 240px;
  height: 30px;
  margin-top: 5px;
  padding: 3px;
}
.email{
  width: 240px;
  height: 30px;
  padding: 3px;
}


.cards img{
  width: 350px;
  height: 300px;
}

.cards-content{
  border: 1px solid rgba(166, 166, 166, 0.56);
  text-align: center;
  padding: 10px;
}

/* THE FIRST GRID SECTION */
.gridcontainer{
  width: 1250px;
  margin: 0 auto;
}
.gridimg{
  width: 295px;
  height: 322px;
  padding-top: 30px;
}
.gridimage{
  width: 293px;
  height: 389px;
}
.grid-dissent{
  width: 291px;
  height: 318px;
  padding-top: 27px;
}

.col-md-3{
  margin-bottom: 50px;
}

.n-icon{
      flex: none;
      display: block;
      width: 29px;
      height: 28px;
      background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
      margin-right: 10px;
}

.gridcontainer a {
  color: #000;
  text-decoration: none;
  font: bold 19px/19px "Roboto Condensed",
      sans-serif;
}

.gridcontainer a:hover{
  text-decoration: underline #f72210;
}

.bottom-text-grid-img{
      position: absolute;
          display: block;
          font: bold 16px/33px "Roboto Condensed",
          sans-serif;
      bottom: 43px;
      left: 15px;
    color: #f72210;
      text-transform: uppercase;
      padding: 0 10px;
      background-color: rgba(255, 255, 255, .9);
      z-index: 1;
}

.all-features{
  display: block;
  background-color: #f4f5f6;
  color: black;
  text-align: center;
  margin-bottom: 0;
  padding: 15px;
}

.all-features::after{
      content: "";
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 1px;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      border-top-width: 2px;
      border-top-style: solid;
      border-right-width: 2px;
      border-right-style: solid
}

.category{
      font: bold 16px/26px "Roboto Condensed",
      sans-serif;
      color: #f72210;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 10px;
}

.category span{
  display: inline-block;
}

.red-cat{
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}

.bottom-text-grid-img2{
      position: absolute;
      display: block;
      font: bold 16px/33px "Roboto Condensed",
      sans-serif;
      bottom: 111px;
      left: 15px;
      color: #f72210;
      text-transform: uppercase;
      padding: 0 10px;
      background-color: rgba(255, 255, 255, .9);
      z-index: 1;
}

.diss-3 a{
  line-height: 104px;
}
/* EDITOR'S PICK SECTION */
.editorcontainer{
  width: 1250px;
  margin: 0 auto;
}
.bottom-text-ed1{
  position: absolute;
    font-size: 17px;
    bottom: 217px;
    left: 15px;
    color: #f72210;
    padding: 8px 15px 9px;
}

/* U.S. */
.uscontainer{
  width: 1250px;
  margin: 0 auto;
}
.usheader{
  color: #f72210;
  font-weight: 700;
}
.trump-image{
  width: 95px;
  height: 77px;
}

.worldcontainer{
  width: 1250px;
  margin: 0 auto;
}
.worldheader{
  color: #f72210;
  font-weight: 700;
}
.businesscontainer{
  width: 1250px;
  margin: 0 auto;
}
.businessheader{
  color: #f72210;
  font-weight: 700;
}
.techcontainer{
  width: 1250px;
  margin: 0 auto;
}
.techheader{
  color: #f72210;
  font-weight: 700;
}
.culturecontainer{
  width: 1250px;
  margin: 0 auto;
}
.cultureheader{
  color: #f72210;
  font-weight: 700;
}
.sportcontainer{
  width: 1250px;
  margin: 0 auto;
}
.sportheader{
  color: #f72210;
  font-weight: 700;
}